@charset "utf-8";

body{
    text-transform: uppercase;/*アルファベットは大文字に*/
    letter-spacing: normal;/*文字間隔*/
    font-family: 'Mv Boli';
	color: #f1efdb;
    background-color: #f1efdb;
	line-height:1.8;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;/*上と二つで文字ぼやけ防止*/
	-webkit-text-size-adjust: 100%; /*文字でか防止*/
	word-wrap: break-word;/*自動改行*/
}

a{
	text-decoration: none;
    outline: none;/*リンク下線部*/
}

.tyuuou{
    position: absolute;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

img{
    max-width:100%;
    height: auto;
}

/* スクロール先の表示（描画）が消えてしまうバグを修正 */
.ms-section, .ms-left, .ms-right {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

/* 予期せぬスクロールバーの発生を抑える */
body, html {
    margin: 0;
    padding: 0;
}


.ms-section{
    position: relative;
    width: 100%;
    height: 100%;
}

#left1{
    background-color: #563a3a;
}

#left2{
    background-color: #563a3a;
}

#left3{
    background-color: #563a3a;
}

#left4{
    background-color: #563a3a;
}

#right1{
    background-image: url("../pictures/index-top.png");
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
}

#right2{
    background-image: url("../pictures/index-english.png");
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
}

#right3{
    background-image: url("../pictures/index-kobun.png");
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
}

#right4{
    background-image: url("../pictures/index-ganbare.png");
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
}
